<% include ../partials/header %>

<section class="forms-page">
    <h3 class="title">Login</h3>
    <div class="form-div">
        <form class="form-style login-form" action="/login" method="POST">
            <ul>
                <li>
                    <label>User Name</label>
                    <input type="text" name="user[id]" maxlength="30" required>
                    <span>Username goes here</span>
                </li>
                <li>
                    <label>Password</label>
                    <input type="password" name="user[password]" maxlength="40" required>
                    <span>Password goes here</span>
                </li>
                <li>
                    <button class="btn">Login</button>
                </li>
            </ul>
        </form>
    </div>
</section>

<% include ../partials/footer %>