<% include ../partials/header %>

<section class="forms-page">
    <h3 class="title">Register</h3>
    <div class="form-div">
        <form class="form-style login-form" action="/register" method="POST">
            <ul>
                <li>
                    <label>Username</label>
                    <input type="text" name="user[id]" maxlength="30" required>
                    <span>This is used for login</span>
                </li>
                <li>
                    <label>Password</label>
                    <input type="password" name="user[password]" maxlength="40" required>
                    <span>Password goes here</span>
                </li>
                <li>
                    <label>Nickname</label>
                    <input type="text" name="user[nickname]" maxlength="40" required>
                    <span>This will be the displayed name</span>
                </li>
                <li>
                    <button class="btn">Submit</button>
                </li>
            </ul>
        </form>
    </div>
</section>


<% include ../partials/footer %>