body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
  padding-bottom: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1497049698919-d05196e1b306?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dcea27cb9c279be07a74b03ec32c7d92&auto=format&fit=crop&w=1050&q=80) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1487537023671-8dce1a785863?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d7c7cb2e2a5d3f861162130c04f221bd&auto=format&fit=crop&w=1050&q=80);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1513614328893-b443e064ba52?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc2ceb72955a75532668888ab0129cd0&auto=format&fit=crop&w=1050&q=80);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1511735111819-9a3f7709049c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7865708f96a88cd2853be1e9ef6b14a5&auto=format&fit=crop&w=967&q=80);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1483032711911-cfd45aabc9a0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0f325e3551b14a70f306c0c4a4e3b46e&auto=format&fit=crop&w=1050&q=80);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

.no-cssanimations .slideshow li {
	opacity: 1;
}