<% include ../partials/header %>

<h1>New form</h1>

<div class="container">
    <h1 style="text-align: center">Create a New Song Post</h1>
    <div style="width: 50%; margin: 0 auto;">
        <form action="/songs" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="song[song]" placeholder="song name" maxlength="40" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="song[artist]" placeholder="artist name" maxlength="30" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="song[image]" placeholder="song image">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="song[link]" placeholder="youtube link">
            </div>
            <div class="form-group">
                <textarea style="height: 200px" class="form-control" name="song[description]" placeholder="song description" maxlength="400"></textarea>
            </div>
            <div style="width: 30%; margin: 0 auto;">
                <button class="btn btn-lg btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>




<% include ../partials/footer %>