<% include ../partials/header %>


<section class="forms-page">
    <h3 class="title">Create a New Song Post</h3>
    <div class="form-div">
        <form class="form-style" action="/songs" method="POST">
            <ul>
                <li>
                    <label>Artist Name</label>
                    <input type="text" name="song[artist]" maxlength="30" required>
                    <span>Artist name goes here</span>
                </li>
                <li>
                    <label>Song Name</label>
                    <input type="text" name="song[song]" maxlength="40" required>
                    <span>Song name goes here</span>
                </li>
                <li>
                    <label>Song Image</label>
                    <input type="text" name="song[image]">
                    <span>Your song or artist image</span>
                </li>
                <li>
                    <label>Youtube Link</label>
                    <input type="text" name="song[link]">
                    <span>Your song youtube link</span>
                </li>
                <li>
                    <label>Song Description</label>
                    <textarea style="height: 200px" name="song[description]" maxlength="400"></textarea>
                    <span>Song description goes here</span>
                </li>
                <li>
                    <button class="btn">Submit</button>
                </li>
            </ul>
        </form>
    </div>
</section>




<% include ../partials/footer %>